/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-salient-block-salient-container {
  .edit-post-sidebar {
    .add-button {
      background-color: green;
      color: white;
      transition: 250ms;
      &:hover, &:active {
        background-color: darkgreen;
        color: white;
      }
    }
    .remove-button {
      background-color: red;
      color: white;
      margin: 2em 0;
      transition: 250ms;
      &:hover, &:active {
        background-color: darkred;
        color: white;
      }
    }
    .image-preview-wrapper {
      margin-top: 2em;
    }
  }
}